/* /////// RESET */
div, h1, h2, h3, li, p, ul, span, input {
  border: none;
  font-size: 1em;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#kpfrontpage-page-wrapper img,
#kpfrontpage-page-wrapper table {
  border: none;
  margin: 0;
  padding: 0;
}

/* ///////  GLOBAL */
#kpfrontpage-page-wrapper ul {
  list-style-type: none;
}


/* /////// CLASS */
.kpfrontpage-clearfloat {
  clear: both;
  height: 0;
}

.kpfrontpage-bg-navyblue {
  background-color: #314355;
}

.kpfrontpage-bg-diagonallines {
  background-image: url(images/background/bg-diag-lines.gif);
}

.kpfrontpage-element-right {
  float: right;
}

.kpfrontpage-element-left {
  float: left;
}

.kpfrontpage-text-italic {
  font-style: italic;
}

.kpfrontpage-more {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 20px 0 0 0;
}

.kpfrontpage-data-header {
  border-bottom: 1px solid #D5d5d5;
  font-size: 3em;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 20xp;
  text-indent: 50px; ;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

  .kpfrontpage-data-header span {
    background-color: #FFFFFF;
    padding: 20px 35px;
  }

.kpfrontpage-horizontal-list li {
  display: inline;
  float: left;
  position: relative;
}


/* /////// NAVIGATION */
a, a:active, a:hover, a:focus {
  color: #3A7F21;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
}

a.kpfrontpage-navigation-white {
  color: #FFFFFF;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: normal;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.7);
}

  a.kpfrontpage-navigation-white:hover,
  a.kpfrontpage-navigation-white:active,
  a.kpfrontpage-navigation-white:visited {
    color: #FFFFFF;
    text-decoration: underline;
  }

.kpfrontpage-navigation-horizontal-bar {
  background-color: #3A7f21;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.2em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px;
  text-decoration: none;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

  .kpfrontpage-navigation-horizontal-bar:hover {
    background-color: rgba(49, 67, 85, 1);

    -webkit-transition: background-color 0.9s ease-out;
    -moz-transition: background-color 0.9s ease-out;
    -o-transition: background-color 0.9s ease-out;
    transition: background-color 0.9s ease-out;
  }


/* /////// HIGHLIGHT */
#highlighted {
  background-color: #FDFFD6;
  border-bottom: 2px solid #FF0000;
  color: #000000;
  font-family: sans-serif;
}

  #higlighted-content-main-page {
    font-size: 0.9em;
    margin: 0 auto;
    padding: 8px 0;
    width: 1280px;
  }

  #higlighted-content-main-page p,
  #higlighted-content-main-page h2,
  #higlighted-content-main-page div {
    margin: 0;
    padding: 0;
    border: none;
  }


/* /////// POP UP/DROP MENU/WINDOW */
.kpfrontpage-popupwindow-element {
  cursor: pointer;
}

.kpfrontpage-popupwindow {
  background-color: #FFFFFF;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
  width: 100%;
}

.kpfrontpage-popupwindow-effect-dropwindow .kpfrontpage-popupwindow {
  padding-top: 20px;
  float: right;
  top: 20px;
  width: 320px;
  z-index: 3000;
}

.kpfrontpage-popupwindow-effect-dropmenu .kpfrontpage-popupwindow {
  left: 90px;
  padding-top: 20px;
  text-align: left;
  top: 72px;
  width: 320px;
}

#kpfrontpage-popupwindow-remote-window {
  font-size: 0.9em;
  font-family: sans-serif;
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 32px;
  width: 100%;
}

  #kpfrontpage-popupwindow-remote-window div {
    margin: 0 auto;
    width: 700px;
  }


/* /////// COPY */
#kpfrontpage-page-wrapper {
  background: url(images/background/bg-main-top-foliage.jpg) repeat-x;
  position: relative;
  width: 100%;
}

#kpfrontpage-content-wrapper {
  margin: 0 auto;
  position: inherit;
  max-width: 1280px;
}

#kpfrontpage-userpanel {
  border: 1px solid #3A7F21;
  border-left: 10px solid #3A7F21;
  border-top: none;
  padding-top: 20px;
  padding-right: 20px;
  height: 40px;
  width: auto;
}

  #kpfrontpage-userpanel li {
    border-right: 1px dotted #FFFFFF;
    padding: 0 12px;
  }

  #kpfrontpage-userpanel li:last-child {
    border: none;
    padding-right: 0;
  }

#kpfrontpage-copy {
  background-color: rgba(255, 255, 255, 0.90);
  margin: 0 auto 0 auto;
  padding: 20px 25px;
  position: relative;
}

  #kpfrontpage-copy h2 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  }

  #kpfrontpage-copy-summary p {
    font-size: 1.4em;
    text-indent: 30px;
    margin-top: -5px;
  }

  #kpfrontpage-copy-summary .kpfrontpage-popupwindow-effect-dropmenu {
    cursor: pointer;
    position: absolute;
    right: 23px;
    top: 15px;
  }

  #kpfrontpage-copy-summary #kpfrontpage-overview {
    margin: 0  7px 0 0;
    padding: 0;
  }

  #kpfrontpage-copy-summary #kpfrontpage-help {
    margin: 0 -4px 0 0;
    padding: 0;
  }

  #kpfrontpage-copy-summary-menu {
    background-color: #FFFFFF;
    border: 0px solid #3A7f21;
    border-bottom: 6px solid #3A7f21;
    padding: 10px;
    position: absolute;
    right: 25px;
    width: 200px;
    z-index: 2000;
  }

  #kpfrontpage-copy-summary-menu > div {
    display: none;
    padding: 10px 20px;
  }

  #kpfrontpage-copy-summary-menu > div h2 {
    background-image: url(images/infographics/infographics-quickstart-back.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    padding-left: 35px;
    font-size: 1.3em;
  }


#kpfrontpage-copy-quickstart {
  background-color: #F7F7F7;
  box-shadow: 0 16px 15px rgba(0,0,0,0.10), 0 5px 3px rgba(0,0,0,0.18);
  border: 1px solid #D5D5D5;
  height: 110px;
  margin: 10px auto 0 auto;
  left: 0;
  position: absolute;
  right: 0;
  width: 1230px;
  z-index: 1;
}

  #kpfrontpage-copy-quickstart div {
    margin: 35px 30px;
    padding: 0;
  }


  /**
   Quick Access Updates while site-wide search in development.
   SEARCH BOX.
  **/
  #kpfrontpage-copy-quickstart h1 {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.7em;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: 0px;
  }

  #kpfrontpage-copy-quickstart h1 a {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  /* ** */

  #kpfrontpage-copy-quickstart-searchbox {
    color:  #3A7F21;
    border: 1px solid #D0D0D0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    height: 20px;
    margin: 0;
    padding: 7px;
    width: 420px;
  }

  #kpfrontpage-copy-quickstart-searchbutton {
    height: 38px;
    margin: -14px 0 -18px 5px;
  }

  /**
   Quick Access Updates while site-wide search in development.
   LINKS.
  **/
  #kpfrontpage-copy-quickstart .kpfrontpage-element-right {
    background-image: url(images/infographics/infographics-data-plain.gif);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 40px;
  }
  /* ** */


  #kpfrontpage-copy-quickstart li {
    background-image: url(images/arrow-down.gif);
    background-repeat: no-repeat;
    background-position: 15px bottom;
    border-right: 1px solid #D0D0D0;
    font-size: 1.7em;
    height: 45px;
    padding: 3px 12px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  }

  #kpfrontpage-copy-quickstart li:last-child {
    border: none;
    padding-right: 0;
  }


#kpfrontpage-copy-explore-data {
  background-color: #FFFFFF;
  margin: 90px 0 0 0;
  padding: 75px 20px 0 20px;
  position: relative;

  -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.20);
  -moz-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.20);
  box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.20);
}


  /* CROPS - TOOLS - DATA - EXTRA (NEWS & EVENTS) */

  #kpfrontpage-copy-explore-data-crops,
  #kpfrontpage-copy-explore-data-tools,
  #kpfrontpage-copy-explore-data-data,
  #kpfrontpage-copy-explore-data-extra {
    position: relative;
  }


  /* // */


  #kpfrontpage-copy-explore-data-crops table td {
    background-color: #FFFFFF;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.2em;
    font-weight: 300;
    margin: 0;
    padding: 0 10px;
    position: relative;
  }

  #kpfrontpage-copy-explore-data-crops table td > a {
    display: block;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-decoration: underline;
    margin: 0;
    padding: 0;
  }

  #kpfrontpage-copy-explore-data-crops table td img {
    cursor: pointer;
    height: 210px;
    width: 100%;
  }

  #kpfrontpage-copy-explore-data-crops table td:first-child {
    padding-left: 0;
  }

  #kpfrontpage-copy-explore-data-crops table td:last-child {
    padding-right: 0;
  }

  #kpfrontpage-copy-explore-data-crops table td div {
    background-color: #FFFFFF;
    display: none;
    font-size: 0.9em;
    font-style: normal;
    right: 0;
    padding: 0 15px 20px 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #kpfrontpage-copy-explore-data-crops table td div li {
    float: left;
    display: inline;
  }


  /* // */

  #kpfrontpage-copy-explore-data-tools li {
    background: url(images/background/bg-tool-hexagon.gif) top center no-repeat;
    cursor: pointer;
    display: inline;
    float: left;
    height: 190px;
    margin: 0 23px 10px 23px;
    padding-top: 30px;
    position: relative;
    text-align: center;
    width: 160px;
  }

  #kpfrontpage-copy-explore-data-tools li:hover {
    background: url(images/background/bg-tool-hexagon-over.gif) top center no-repeat;
  }

  #kpfrontpage-copy-explore-data-tools li:first-child {
    margin-left: 0;
  }

  #kpfrontpage-copy-explore-data-tools li:last-child {
    margin-right: 0;
  }

  #kpfrontpage-copy-explore-data-tools li div {
    border: 1px solid #3A7F21;
    background-color: #FFFFFF;
    border-radius: 50%;;
    color: #FFFFFF;
    height: 70px;
    margin: 0 auto 25px auto;
    pointer-events: none;
    width: 70px;

    -webkit-box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.55);
    box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.55);
  }

  #kpfrontpage-copy-explore-data-tools li div img {
    margin: 10px 0 0 0;
  }

  #kpfrontpage-copy-explore-data-tools li a {
    font-size: 1.4em;
    line-height: 10px;
    pointer-events: none;
  }

   #kpfrontpage-copy-explore-data-tools li.kpfrontpage-tools-spacer {
    background: none;
    pointer-events: none;
  }
  
  /* Helium tool warning */
  #kp-frontpage-helium-tool-warning {
    background:rgba(252, 254, 213, 0.9); 
    border-radius: 5%;
    color: #000000;
    display: none;
    font-weight: 200; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 11px;
    line-height: 13px;
    position: absolute; 
    padding: 0; 
    right: 0;
    left: 0;
    text-align: left;
    top: -45px; 
    width: 100%;

    box-shadow: 1px 5px 11px 0px rgba(0,0,0,0.82);
    -webkit-box-shadow: 1px 5px 11px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: 1px 5px 11px 0px rgba(0,0,0,0.82);
  }

  #kp-frontpage-helium-tool-warning i {
    display: block;
    padding: 10px;
  }
  
  #kp-frontpage-helium-tool-warning strong {
    font-weight: normal;
    font-size: 15px;
  }

  #kp-frontpage-helium-tool-warning:after {
    content: "";
    display: block;
    bottom: -10px;
    left: 43%;
    position: absolute;
    width: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: rgba(252, 254, 213, 1) transparent;
  }

  /* // */


  #kpfrontpage-copy-explore-data-data > div > div {
    border: 1px solid #CCCCCC;
    cursor: default;
    display: inline;
    background-color: #C0D9B2;
    float: left;
    padding: 10px 20px;
    position: relative;
    height: 250px;
    width: 28%;

    -webkit-box-shadow: inset 0px -1px 61px -49px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px -1px 61px -49px rgba(0,0,0,0.75);
    box-shadow: inset 0px -1px 61px -49px rgba(0,0,0,0.75);
  }

  #kpfrontpage-copy-explore-data-data > div > div:first-child {
    margin-left: 0;
    margin-right: 1.3%;
  }

  #kpfrontpage-copy-explore-data-data > div > div:nth-child(2) {
    margin-left: 1.3%;
  }


  #kpfrontpage-copy-explore-data-data > div > div:last-child {
    margin-right: 0;
    float: right;
  }

  #kpfrontpage-copy-explore-data-data p {
    clear: left;
    font-size: 0.8em;
    font-family: sans-serif;
    padding: 5px 0 0 0;
    width: 100%;
  }

  #kpfrontpage-copy-explore-data-data h2 {
    margin: 20px 0 20px 0;
  }

  .kpfrontpage-copy-explore-data-data-summary-count {
    border: 6px solid #FFFFFF;
    border-radius: 50%;;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 300;
    height: 65px;
    line-height: 15px;
    padding-top: 25px;
    position: absolute;
    right: 20px;
    top: -35px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.7);
    width: 90px;

    -webkit-box-shadow: 2px 6px 5px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 6px 5px -3px rgba(0,0,0,0.55);
    box-shadow: 2px 6px 5px -3px rgba(0,0,0,0.55);
  }

  .kpfrontpage-copy-explore-data-data-summary-count:hover {
    -webkit-box-shadow: 8px 6px 5px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 8px 6px 5px -3px rgba(0,0,0,0.55);
    box-shadow: 8px 6px 5px -3px rgba(0,0,0,0.55);
  }

  .kpfrontpage-copy-explore-data-data-summary-count span {
    display: block;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.7em;
    padding: 0 0 10px 0;
  }


  /* // */


  #kpfrontpage-copy-explore-data-extra {
    padding: 20px 10px 30px 10px;
    margin: 30px 0 0 0;
  }

  #kpfrontpage-copy-explore-data-extra > div {
    width: 46%;
    position: inherit;
    margin: 0 20px;
  }

  #kpfrontpage-copy-explore-data-extra h4 {
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0;
  }

    #kpfrontpage-copy-explore-data-extra h4 a {
      position: absolute;
      right: -20px;
    }

 .kpfrontpage-copy-explore-data-extra-title {
   background: rgba(49, 67, 85, 0.5);
   color: #FFFFFF;
   font-size: 2em;
   line-height: 35px;
   position: absolute;
   padding: 5px 5px 5px 10px;
   margin: 20px 0 0 20px;
   text-shadow: 0 2px 0 rgba(0, 0, 0, 0.7);
   width: 60%;
 }

   .kpfrontpage-copy-explore-data-extra-title a {
     color: #FFFFFF;
     display: block;
     font-size: 12px;
     font-weight: 300;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     margin: 10px 0 0 0;
     text-shadow: 0 2px 0 rgba(0, 0, 0, 0.7);
     text-decoration: underline;
   }

 .kpfrontpage-copy-explore-data-entry {
   height: 290px;
   overflow: hidden;
   padding: 10px;
   position: relative;
   width: 100%;
 }

   .kpfrontpage-copy-explore-data-entry img {
     height: 290px;
     width: 100%;
   }

   .kpfrontpage-copy-explore-data-entry ul li {
     display: none;
   }

 .kpfrontpage-copy-explore-data-entry-bullets {
   margin: 10px 0 10px 0;
 }

   .kpfrontpage-copy-explore-data-entry-bullets div {
     cursor: pointer;
     background-color: #FFFFFF;
     border-radius: 100%;
     height: 8px;
     width: 8px;
     float: left;
     margin: 0 3px;
   }

  div.active-bullet {
    background: url(images/kphome/bullets.png) no-repeat;
    background-position: -1px 0;
  }

  .kpfrontpage-copy-explore-data-entry-bullets div:hover {
    background: url(images/kphome/bullets.png) no-repeat;
    background-position: -15px 0;
  }

#kpfrontpage-footer-info {
  background-color: #cccccc;
  background: url(images/background/bg-footer-foliage.jpg) center 150px repeat-x;
  display: block;
  height: 240px;
  margin: 0;
  position: relative;
  width: 100%;
}

#kpfrontpage-footer-info > div {
  background: url(images/background/bg-footer-pulses.png) center bottom no-repeat;
  height: 170px;
  margin: 0 auto;
  padding-top: 50px;
  width: 1230px;
}

#kpfrontpage-footer-info > div div {
  width: 38.5%;
}

body {
  min-width: 1100px;
}
/* //////////////////////////////////////////////// */


/* Media query - apply stype when viewport is 1300px */
@media(max-width: 1300px) {
  #kpfrontpage-copy-summary p {
    display: inline-block;
    text-indent: 0;
    padding-left: 25px;
    line-height: 25px;
    width: 405px;
  }

  #kpfrontpage-page-wrapper {
    margin: 0 auto;
  }

  #kpfrontpage-userpanel {
    font-size: 0.9em;
  }

  #kpfrontpage-header {
    margin: 0 auto;
    width: 900px;
  }

  #kpfrontpage-copy {
    width: 850px;
  }

  #highlighted > div {
    width: 900px;
  }

  #kpfrontpage-copy-quickstart {
    width: 850px;
  }

  #kpfrontpage-copy-quickstart-searchbox {
    width: 135px;
  }


  #kpfrontpage-copy-quickstart .kpfrontpage-element-right {
    margin-left: 0;
  }

  #kpfrontpage-copy-quickstart .kpfrontpage-element-right li {
    font-size: 1.4em;
  }

  #kpfrontpage-copy-explore-data-tools li {
   background-size: 80%;
   height: 150px;
   width: 200px;
  }

  #kpfrontpage-copy-explore-data-tools li:first-child {
    margin-left: 0;
  }

  #kpfrontpage-copy-explore-data-tools li:hover {
    background-size: 70%;
  }

  #kpfrontpage-copy-explore-data-crops table td img {
    height: 155px;
  }

  .kpfrontpage-toolicon {
    margin-bottom: 5px;
  }

  #kpfrontpage-copy-explore-data-tools li {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    width: 135px;
  }

  #kpfrontpage-copy-explore-data-data > div > div {
    display: block;
    width: 95%;
    margin: 0 0 20px 0;
  }

  #kpfrontpage-copy-explore-data-extra > div {
    width: 93%;
    margin-bottom: 20px;
  }

  #kpfrontpage-copy-explore-data-data > div > div:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  #kpfrontpage-footer-info > div {
    background: none;
    margin: 0;
    padding: 10px 0 0 0;
    width: 99%;
  }

  #kpfrontpage-footer-info > div div {
    float: none;
    width: 750px;
    margin: 0 auto;
  }

  #footer-wrapper {
    min-width: 1100px !important;
  }
}
